.muscle-groups {
  margin-bottom: 15px;
}

.page-header-exercises {
  height: 200px;
  background-color: #acadff;
  background-image: url("../static/sports-18.jpg");
  background-position-y: 30%;
  background-repeat: no-repeat;
}

.custom-link {
  color: unset;
  text-decoration: unset;
}

.custom-link:hover {
  color: unset;
}
