.h-90 {
  height: 80%;
}

.left-button {
  cursor: pointer;
}

.right-button {
  cursor: pointer;
}
.left-button svg {
  fill: #8587dc;
  height: 150px;
  width: 150px;
}

.right-button svg {
  fill: #8587dc;
  height: 150px;
  width: 150px;
}

.dot svg {
  fill: #8587dc;
}

.cancel-focus-modal {
  cursor: pointer;
}

.cancel-focus-modal {
  fill: #8587dc;
}

.btn-danger-border {
  border: 1px solid #dc3545;
  border-radius: 0rem 0rem 0rem 0.3rem !important;
}
